@import url(https://fonts.googleapis.com/css?family=Questrial);
body {
    background: #31ABFE;
    font-family: 'Questrial', sans-serif;
}
.navbar-default {
    background: #eee;
    border:0px;
    -webkit-box-shadow: 0px 6px 54px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 54px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 54px -8px rgba(0,0,0,0.75);
    color: #006599;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px;
}
.navbar-default .navbar-collapse {
    border-width:0px !important;
}
.navbar-toggle {
    background: background: #eee;
    border: 0px;
}
.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-toggle:active,
.navbar-toggle:focus,
.navbar-toggle:visited,
.navbar-toggle:hover {
    background: #ccc !important;
}
.icon-bar {
    background-color: #006599 !important;
}
@media screen and (min-width: 768px) {
    .navbar-collapse {
        float: right;
        text-align: right;
        padding-right: 10px !important;
    }
}
@media screen and (min-width: 1000px) {
    .navbar-collapse {
        float: right;
        text-align: right;
        padding-right: 100px !important;
    }
    .navbar-brand {
        padding-left: 100px !important;
    }
}
.navbar-collapse {
    text-align: center;
}
hr {display: none}
.navbar-default a {
    color: #006599 !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    height:100%;
    color: #aaa !important;
    transition: 0.5s ease;
}
.jumbotron {
    background: #eee;
    color: #006599;
}
.btn-default {
    background: #006599;
    color: #eee;
    transition: 0.6s ease;
}
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    outline:0px !important;
    background: black !important;
    color: white !important;
}
.product-info img {
    height:200px;
}
@media (min-width: 768px) {
    .product-info img {
        height:200px;
    }
}
h1 {
    font-size: 28px !important;
    font-weight: bold;
}
.label-default {
    background: #006599;
    color: #eee;
}